spring:
  application:
    name: inept-blog-server
  profiles:
    active: prod
  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    database: postgresql
    defer-datasource-initialization: true
  messages:
    basename: i18n/messages,i18n/validation,i18n/openapi
    encoding: UTF-8
    fallback-to-system-locale: false
  servlet:
    multipart:
      max-file-size: 200MB
      max-request-size: 200MB
  mvc:
    problemdetails:
      enabled: true
  sql:
    init:
      mode: always
server:
  port: 8080