spring:
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/inept_blog}
    username: ${DB_USER:postgres}
    password: ${DB_PASS:postgres}

  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    hibernate:
      ddl-auto: update

springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true

logging:
  level:
    org:
      springframework:
        web:
          servlet:
            DispatcherServlet: DEBUG
        validation: DEBUG
      hibernate:
        validator: DEBUG