spring:
  application:
    name: inept-blog-server

  jpa:
    defer-datasource-initialization: true
    properties:
      hibernate:
        jdbc:
          time_zone: UTC

  messages:
    basename: i18n/messages,i18n/validation,i18n/openapi
    encoding: UTF-8
    fallback-to-system-locale: false

  servlet:
    multipart:
      max-file-size: 200MB
      max-request-size: 200MB

  mvc:
    problemdetails:
      enabled: true

  jackson:
    time-zone: UTC

server:
  port: 8080

springdoc:
  api-docs:
    path: /openapi/api-docs
    enabled: false
  swagger-ui:
    path: /openapi/swagger-ui
    enabled: false

top:
  inept:
    jwt:
      issuer: ${JWT_ISSUER:boot4-rbac}
      access-secret-key: ${JWT_ACCESS_SECRET_KEY}
      refresh-secret-key: ${JWT_REFRESH_SECRET_KEY}
      access-expires-minutes: 15
      refresh-expires-minutes: 10080 # 7d

    minio:
      endpoint: ${MINIO_ENDPOINT}
      access-key: ${MINIO_ACCESS_KEY}
      secret-key: ${MINIO_SECRET_KEY}
      bucket: ${MINIO_BUCKET:inept-blog}
      region: ${MINIO_REGION:}

    image:
      avatar:
        quality: 100
        method: 6